
<div class="flex justify-between">
 <%= render partial: 'sidebar' %>

  <div class="flex w-5/6 justify-between main-content">
    <div class="flex w-full">
      <div class="flex-col" style="margin-left: 30%; width:85%;">
        <div class="flex items-center  p-5 mt-20" style="width: 80%;">
          <div class="rounded-full bg-slate-200" style="height: 200px; width:200px; ">
            <%= image_tag @user.profile_photo, class: "h-full w-full rounded-full" if @user.profile_photo.attached? %>
          </div>
          <div class="flex-col ml-20">
            <div class="flex items-center">
              <h1 class="font-bold"><%= @user.username %></h1>
              
              <% if @user.id == current_user.id %>
                <p class="ml-5 rounded bg-slate-200 py-1 px-2 font-bold">
                  <%= link_to "Edit Profile", edit_user_registration_path(@user)%>
                </p>
               <% else %>

                <div class="ml-5 ">
                  <% if current_user.following?(@user) %>
                    <%= button_to "Unfollow", unfollow_connection_path(@user), class:"rounded bg-sky-200 py-1 px-2 font-bold text-sm text-white" %>
                  <% elsif current_user.sent_follow_request_to?(@user)%>
                    <%= button_to "Cancel follow request", cancel_connection_path(@user) , class:"rounded bg-red-200 py-1 px-2 font-bold text-sm text-whit" %>
                  <% else %>
                    <%= button_to "Follow",  follow_connection_path(@user) , class:"rounded bg-sky-200 py-1 px-2 font-bold text-sm text-white" %>
                  <% end %>
                </div>
              <% end %>

            </div>
            <div class="mt-5 flex">
                <%= pluralize(@user.posts.count, 'post') %>
                <p class="ml-5"><%= pluralize(current_user.followers.count, 'follower')%></p>
                <p class="ml-5"><%= pluralize(current_user.following.count, 'following')%></p>
                


            </div>
            <div class="mt-5">
              <h1 class="font-bold"><%= @user.first_name %> <%= @user.last_name %></h1>
              <p class="font-light"><%= @user.bio %></p>
            </div>
          </div>
        </div>
        
          <div class="flex flex-wrap justify-between mt-10" style="width: 850px;">
              <% @posts.each do |post| %> 
                <div class="border mt-2 p-3" style="width:280px; height:300px">
                 <h2 class="font-light text-xs">Author: <%= post.user.username %>:</h2>
                  <p class="font-light text-xs">Created on: <%= post.created_at.strftime("%B %d, %Y") %></p>    
                  <h1 class="font-bold text-sm"><%= post.title %></h1>
                  <p class="font-light text-sm"><%= post.description %></p>
                  <%= image_tag post.photo, class: "h-3/5 w-full"  if post.photo.attached? %>
                </div>
              <% end %>
          </div>
      

      </div>
    </div>
    <div class="w-1/4 justify-self-center text-center mt-20">

    </div>
  </div>
</div>
         
 