<!-- app/views/add_to_cart.html.erb -->

<h1>Add to Cart</h1>

<%= form_tag add_to_cart_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'product_id', 'Select a product:' %>
    <%= select_tag 'product_id', options_for_select(Product.all.map { |product| [product.name, product.id] }), prompt: 'Select a product' %>
  </div>
  
  <div class="form-group">
    <%= label_tag 'quantity', 'Quantity:' %>
    <%= number_field_tag 'quantity', 1, min: 1 %>
  </div>
  
  <%= submit_tag 'Add to Cart', class: 'btn btn-primary' %>
<% end %>
