
<div class="flex justify-between items-center">
  <%= render partial: 'sidebar' %>

  <div class="flex w-5/6 justify-between">
    <div class="flex w-full">
      <div class="flex-col" style="margin-left: 30%;">
      <div class="border p-5 mt-20" style="width: 85%;">
        <div class="flex justify-between items-center " style="width: 25%;">
         <% @users.each do |user| %>
         <a href="/users/<%= user.id %>">
         <div class="flex-col items-center">
          <div class="rounded-full bg-slate-200 w-16 h-16">
            <%= image_tag user.profile_photo, class: "h-full w-full rounded-full" if user.profile_photo.attached? %>
          </div>
          <div class="text-center text-sm font-light"><%=user.username %></div>
          </div>
          </a>
         <%end%>
        </div>
      </div>

        
        <div class="flex-col" style="margin-top:10%; width:85%;">
          <% @posts.each do |post| %>
            <div class="flex justify-between items-center">
              <%= link_to user_path(post.user), class:'text-sm ml-3' do %>
                <div class="flex items-center">
                    <div class="rounded-full bg-slate-200 h-14 w-14">
                      <%= image_tag post.user.profile_photo, class: "h-14 w-14 rounded-full" if post.user.profile_photo.attached? %>
                    </div>
                  <div class="pl-2">
                    <%=post.user.username %> 
                  </div>
                </div>
              <% end %>
                <div>
                  <a href="/posts/<%= post.id %>">
                   <%= icon('fa-solid', 'ellipsis', class: 'icon')%>
                  </a>
                </div>
            </div>
  
            <div class="border flex-col p-4 my-5" style="height: 500px; width:100%;">
              <div class="">
                <%= image_tag post.photo,class: "post-image  object-fill"  if post.photo.attached? %>
              </div>

              <div class="reactions">
                <%= icon('fa-solid', 'comment', class: 'icon')%>
                <%= icon('fa-solid', 'heart', class: 'icon heart')%>
              </div>

              <div>
                <h1><%= post.title %></h1>
                <p><%= post.description %></p>
              </div>
              
            </div>
          <% end %>
        </div>
      

      </div>
    </div>
    <div class="w-1/4 text-center mt-20">
      <div class="flex items-center justify-around">
        <div class="flex items-center">
          <%= link_to user_path(current_user) do %>
            <div class="rounded-full bg-slate-200 w-12 h-12">
              <%= image_tag current_user.profile_photo, class: "h-full w-full rounded-full" if current_user.profile_photo.attached? %>
            </div>
          <% end %>
          <div class="pl-2 text-sm font-bold"><%=current_user.username %> </div>
        </div>
        <div></div>
      </div>

      <div class="flex items-center justify-around mt-10">
         <div class="flex items-center">
          <h1 class="text-sm text-slate-500">suggested for you</h1>
         </div>
         <p class="text-sm font-bold">View all</p>
      </div>
      
      
       <% @users.each do |user| %>
       
       <% if user.id != current_user.id %>
         <div class="flex items-center justify-around mt-5">
          <div class="flex items-center">
            <div class="rounded-full bg-slate-200 w-12 h-12 ml-4">
              <%= image_tag user.profile_photo, class: "h-full w-full rounded-full" if user.profile_photo.attached? %>
            </div>
            <div class="text-sm font-bold pl-2"><%=user.username %></div>
          </div>
          <div class="text-sm">follow</div>
        </div>
       <% end %>
      <% end %>
  

    </div>
  </div>
</div>
         
 