
<div class="flex justify-between items-center">
  <div class=" w-1/6 left-hand-side border-r-2 ">
    <div class="flex-col h-full justify-between ">
      <div class="flex-col justify-between h-3/5 mx-10 my-10" style="">
        <div class="h-1/6">
          <%= link_to "Create", new_user_post_path(current_user) %>
        </div>
        <div class="h-1/6">
          Explore
        </div>
        <div class="h-1/6">
          Search
        </div>
        <div class="h-1/6">
          Messages
        </div>
        <div class="h-1/6">
          Notification
        </div>
        <div class="h-1/6">
          <%= link_to 'Profile', user_path(current_user) %>
        </div>
      </div>
      <div class="border w-full text-center p-2" style="position:absolute; top:95%">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>

  <div class="flex w-5/6 justify-between">
    <div class="flex w-full">
      <div class="flex-col" style="margin-left: 30%;">
        <div class="flex border  p-5 mt-20" style="width: 85%;">
          <div class="rounded-full bg-slate-200 w-20 h-20 ml-4"></div>
          <div class="rounded-full bg-slate-200 w-20 h-20 ml-4"></div>
          <div class="rounded-full bg-slate-200 w-20 h-20 ml-4"></div>
          <div class="rounded-full bg-slate-200 w-20 h-20 ml-4"></div>
          <div class="rounded-full bg-slate-200 w-20 h-20 ml-4"></div>
          <div class="rounded-full bg-slate-200 w-20 h-20 ml-4"></div>
        </div>
        
        <div class="flex-col" style="margin-top:10%; width:85%;">
          <% @posts.each do |post| %>
          
            <div class="flex items-center ">
                <div class="rounded-full bg-slate-200 w-20 h-20"></div>
                <div class="pl-2"><%=post.user.username %> </div>
            </div>
            <div class="border p-4 my-5" style="height: 500px; width:100%;">
              <h1><%= post.title %></h1>
              <p><%= post.description %></p>
              <%= image_tag post.photo,class: "h-4/5 w-full"  if post.photo.attached? %>
            </div>
          
          <% end %>
        </div>
      

      </div>
    </div>
    <div class="w-1/4 justify-self-center text-center mt-20">
      <div class="flex items-center justify-around">
        <div class="flex items-center">
          <div class="rounded-full bg-slate-200 w-20 h-20 ml-4">
            <%= image_tag current_user.profile_photo, class: "h-full w-full rounded-full" if current_user.profile_photo.attached? %>
          </div>
          <div class="pl-2"><%=current_user.username %> </div>
        </div>
          <div>some text</div>
      </div>
    </div>
  </div>
</div>
         
 