<div class="flex justify-between ">
 <%= render partial: 'sidebar' %>
  <div class="flex w-5/6 justify-between main-content">
        <div class="flex-col mt-20" style="margin-left: 25%; height: 47%; width:100%;">
        <h1>Today's picks</h1>
        <% if @products.any? %>
          <div class="flex flex-wrap justify-between mt-20" style="width: 850px; height:100%;">
              <% @products.each do |product| %>
              
                <div class="border" style="width:280px; height:300px">
                  <%= image_tag product.image, class: "h-3/5 w-full border-b-4"  if product.image.attached? %>
                  <div class="my-2 p-2 ">
                    <h1 class="font-bold text-sm"><%= product.title %></h1>
                    <p class="font-light text-sm"><%= product.description %></p>
                    <p><%= number_to_currency(product.price) %></p>
                    <div class="border-x flex justify-between mt-2">
                      <%= link_to "View Details", user_product_path(@user, product), class:"font-light text-xs border p-1" %>
                      

                    </div>
                  </div>
                </div>
              
              <% end %>
          </div>
        <% else %>
            <p>No other products from <%= @user.username %> yet.</p>
        <% end %>
        </div>


      <div class="w-1/4 flex justify-self-center" style="margin-top: 2%;">
        <%= link_to cart_path do %>
          <div class="flex">
            <%= icon('fa-solid', 'cart-shopping', class: 'icon cart-icon')%>
            <p class=" px-2 text-sm font-light">Cart</p>
            <div style="position: absolute; top:2.8%; right:11.5%; z-index:2222;  background-color:#FFD700; height:10px; width:10px; border-radius:50%;">
              <p class="text-xs text-center font-bold" style="font-size:8px; color:#333333; position:absolute; left:22%; top:-20%;"><%= @cart.orders.count %></p>
            </div>
          </div>
       <%end%>
      </div>
  </div>
</div>
