<!DOCTYPE html>
<html>
  <head>
    <title>Boomers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="animate__backInLeft" style="position:absolute; top:15%; left:39.5%;">
        <p class="alert text-red-500 font-light "><%= alert %></p><br>
    </div>
    <%= turbo_frame_tag "modal" %>
    <%= yield %>
    <p class="notice animate__backInLeft"><%= notice %></p>
  </body>
</html>
